@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  background-color: #eeeeee;
  font-family: 'Open Sans', sans-serif;
}

/*style route to center the App div nicely */
#root {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
